{% extends 'app1/base.html' %}
{% block header %}

{% for k,v in ls1.items %}
    {{v}}
{% endfor %}
    {% endblock  %}
    
{% block content %}
    <!-- <h1>hello {{name}},your rolllno is {{rollno}} and your marks are {{marks}}</h1> -->
    <h1 style="text-align: center;color: red;">welcome to class</h1>
    <div style="text-align:center;">
    
    {% for i in ss %}
        name:{{i.nm}} <br>
        {{i.rn}} <br>
        {{i.marks}}
    {%endfor %}

    <!-- <img src="/static/images/welcome.jpg" alt="none"> -->
</div>
    {% endblock %}
    