<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>display page</title>
</head>
<body>
<table border="1" cellpadding="8">
        <tr>

            <td>Username</td>
            <td>Password</td>
            <td>Fullname</td>
            <td>Email</td>
            <td>Address</td>
            <td>Gender</td>
        </tr>
        {% for user in Users %}
            <tr>
                <td>{{user.Username}}</td>
                <td>{{user.Password}}</td>
                <td>{{user.Fullname}}</td>
                <td>{{user.Email}}</td>
                <td>{{user.Address}}</td>
                <td>{{user.Gender}}</td>

            </tr>
        {% endfor %}

    </table>
</body>
</html>