<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login page</title>
</head>
<body>
<h3>Login Here</h3>
<form action="/a1/log/" method="post">
    {% csrf_token %}
    <table>
           <tr>
            <td> Username:</td>
            <td><input type="text" name="un"></td>
            </tr>
            <tr>
            <td>Password:</td>
            <td><input type="password" name="pw"></td>
            </tr>
            <tr>
            <td><input type="submit" value="login"></td>
            </tr>
</body>
</html>