<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post</title>
</head>

<body>
    <h1>this is students page</h1>
    <table>
        <tr>
            <th>name</th>
            <th>rollno</th>
            <th>marks</th>
        </tr>
        {% for i in student %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.rollno}}</td>
            <td>{{i.marks}}</td>
        </tr>
        {% endfor %}

    </table>

</body>

</html>