{% extends "base.html" %}

{% block content %}

<div class="row about-head-wthree">			<div class="col-lg-6 left-abw3ls">				<img src="/static/images/cjc.jpg" alt="" class="img-fluid">			
</div>			
<div class="col-lg-6 right-abw3ls mt-lg-0 mt-sm-5 mt-4" style="padding: 100px;3  ">				<h4 class="font-italic border-bottom text-center font-weight-bold pb-3 mb-4">Our					vision</h4>				
<p>Giving best technical knowledge (IT) in low cost and making					it in reach of every one.

</p>			
</div>
</div>
{% endblock %}
    
