<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static '/app1/css/app.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>app1</title>
    <link 
href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>

</head>
<body>
    <fieldset style="width: 300px;margin-left: 500px;margin-top: 50px;margin-bottom: 50px;background-image: url('/static/app1/images/cloud.jpg')">
    <form action="">
    
        <legend style="font-size: large;text-align: center;">form</legend><br><br>
    Name:<input type="text" name="nm" > <br> <br>
    Address:<input type="text" name="add" > <br> <br>
    City:<input type="text" name="city" > <br> <br>
    State:<input type="text" name="state" > <br> <br>
    <br>
    <br>


    <span class="p-3 mb-2 bg-info text-white" style="font-weight: bold;font-size: 20px;text-align:justify;" > select any of the following </span><br>
    {% for i in ls %}
    <div style="text-align: center;">
    <input type="checkbox" id="topic1" name="{{i}}" value="{{i}}">
    <label for="{{i}}">{{i}}</label><br>
    {% endfor %}
</div>
    <br><br>
    <select name="cars" id="cars">
        {% for i in ls %}
        <option value="{{i}}">{{i}}</option>
        {% endfor %}
      </select>
      <br><br><br>
    <a name="" id="" class="btn btn-primary" href="#" role="button">submit</a>
    </form>
</fieldset>    
</div>
    
</body>
</html>