<!DOCTYPE html>

<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />

    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <form action="/a1/log/" method="post" class="jumbotron width:500px">
      {% csrf_token %} username :
      <input type="text" name="username" /><br /><br /><br />
      password : <input type="password" name="password" /> <br />
      <br />
      <br />
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </body>
</html>
