{% extends 'PostsApp/base.html' %} {% load crispy_forms_tags %} {% block title
%}
<title>Login</title>
{% if msg %}
<h3>{{ msg }}</h3>
{% endif %}

<!--<h1> Login Page </h1>-->
<!--<form action="" method="post">-->
<!--    {% csrf_token %}-->
<!--    Username: <input type="text" name="un"> <br><br>-->
<!--    Password: <input type="text" name="pas"> <br><br>-->
<!--    <input type="submit" value="login">-->
<!--</form>-->

{% block body_elements%}
<div style="margin-left: 400px">
  <form action="" method="post" class="jumbotron" style="width: 500px">
    {% csrf_token %} Username: <input type="text" name="un" /> <br /><br />
    Password: <input type="text" name="pas" /> <br /><br />
    <input type="submit" class="btn btn-success" />
  </form>
</div>
{% endblock %}
