{% extends 'PostsApp/base.html' %} {% load crispy_forms_tags %} {% block title
%}
<title>Signup</title>
{% block body_elements%}
<h1 style="font-size: x-large; font-weight: bold">User Posts</h1>
<div style="width: 600px; margin-left: 400px">
  <h1>{{ current_user }}'s Posts</h1>
  <br /><br />
  {% for p in posts %}
  <div class="well well-sm">
    <h3>{{p.title}}</h3>
    {{p.content}} <br /><br />
    <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{p.date}}<br />
    <a class="btn btn-danger" href="/postapp/delete/{{p.id}}">delete</a
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="btn btn-success" href="/postapp/update/{{p.id}}/">update</a><br />
  </div>
  {% endfor %}
</div>
{% endblock %}
