{% extends 'base.html' %}
{% load static %}
{% block body %}
<!-- <h1>thiis is a simple about </h1> -->

<!-- <div class="row no-gutters">
    <div class="col-lg-6">
        <div class="titreCarre" data-mini1="B" data-mini2="D" data-mini3="C">
            <h2 class="titreCarre-interne">
                <small class="titreCarre-preTitre"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The</font></font></small>
                <span class="titreCarre-titre"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Team</font></font></span>
            </h2>
        </div>
    </div>
    <div class="col-lg-5 insideTeam-intro"> -->
        
        

<div class="chapo"><p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">We are </font></font><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">digital fans</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> , geek by nature, addicted to social networks and completely crazy about design.</font></font></p>
</div>


<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Our team with a sharp mind mobilizes creative, technical and strategic profiles to support you in the most crazy projects!</font></font></p>

       
    </div> <!-- /col -->
</div>

{% endblock %}