<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>
    <h1>display</h1>
    <div class="jumbotron">
        
    <table class="table" style="text-align: center;">
        <thead class="thead-dark">
      <tr>
        <th>content</th>
        <th>cr_date</th>
        <th>operation</th>
      </tr>
        </thead>
        {% for i in us %}
        
        <tr>
          <td>{{i.content}}</td>  
            <td>{{i.cr_date}}</td>
            <td>
            <a class="btn btn-danger" href="a1/delete/{{i.id}}">delete</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-success" href="/a1/update/{{i.id}}/">update</a><br>
          </td>
            {% endfor %}
      </tr>
    
    </div>

</body>
</html>