<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sample</title>
</head>
<body>
    <h1>this is sample content</h1>
<br>
<br>
<hr>
<hr>
<!-- list in list -->
<!--
<table border="2">
    <tr>
        <td>rollno</td>
        <td>name</td>
        <td>marks</td>
    </tr>

    {% for i in ele %}
        <tr>
            {% for j in i %}
            <td>
                {{j}}
            </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table> -->

<!-- dictonary in dictonary-->


<!-- <table border="1">
    {% for k,v in student_date.items%}
        rollno:{{v.rn}} <br> <br>
        name:{{v.nm}} <br> <br>
        marks:{{v.marks}} <br> <br>
    {% endfor %}
</table> -->

<!-- set in set -->
<!-- 
<table border="2">
    <tr>
        <td>rollno</td>
        <td>name</td>
        <td>marks</td>
    </tr>

    {% for i in ele %}
        <tr>
            {% for j in i %}
            <td>
                {{j}}
            </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table> -->

<!-- list of dictonary -->

<!-- <table border="1">
    {% for i in ld %}
        rollno:{{i.rn}} <br> <br>
        name:{{i.nm}} <br> <br>
        marks:{{i.marks}} <br> <br>
    {% endfor %}
</table> -->

<!-- dictonary of list -->
<!-- <table border="2">
    <tr>
        <td>rollno</td>
        <td>name</td>
        <td>marks</td>
    </tr>

    {% for i in context %}
        <tr>
            {% for j in i %}
            <td>
                {{j}}
            </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table> -->

</body>
</html>