{% extends "app1/base.html" %}

{% block content %}
<style>
* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 30px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .info {
      font-size: 30px;
  padding: 26px
  margin-left:57px
  font-weight:bolder
  color:crimson
  }

  
  </style>
  </head>
  <body>
  
    {% for i in ss %}
     
  <div class="row">
    <div class="column" style="background-color: thistle;">
      <h2 style="color:red;">Profile pic</h2>
      <div class="xx"><img src="{{i.image}}" alt="no image" width="200" height="200" >
      </div>
    </div>
    <div class="column" style="background-color: bisque;">
      
      <h2 style="color:red">info</h2>
      <!-- <h3>hello</h3> -->
      <div class="info" style="font-size: 30px;">        
      
          rollno-->{{i.rn}}
          <br>
          name-->{{i.nm}}
          <br>
          marks-->{{i.marks}}
          <br>
          </div>

  </div>
  </div>
  <br>
  <hr>
  {% endfor %}

  </body>
  </html>


{% endblock %}