{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="container">
  <div class="jumbotron my-3" style="background-image: url(/static/sky.png);">
    <h1 class="display-4">Welcome to my blog!</h1>
    <p class="lead">
      “Blog” is an abbreviated version of “weblog,” which is a term used to describe websites that maintain an ongoing chronicle of information. A blog features diary-type commentary and links to articles on other websites, usually presented as a list of entries in reverse chronological order. Blogs range from the personal to the political, and can focus on one narrow subject or a whole range of subjects.

    </p>
    <hr class="my-4" />
    
    <p>

      Many blogs focus on a particular topic, such as web design, home staging, sports, or mobile technology. Some are more eclectic, presenting links to all types of other sites. And others are more like personal journals, presenting the author’s daily life and thoughts.
    </p>
    <a class="btn btn-primary btn-lg" href="/blog" role="button">Go to Blog</a>
  </div>
</div>
{% endblock %}

